<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta name="robots" content="index, follow">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Booost {{#if title}}| {{ title }}{{/if}}</title>
    <meta name="theme-color" content="#FFF">

    <base href="{{ base }}" id="base-id">

    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="stylesheet" href="./css/main.css">
</head>

<body>

    {{#block "content"}}
    <span></span>
    {{/block}}

    <script src="./js/main.js"></script>
</body>

</html>
